/* app css stylesheet */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

body {
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: #21211F;
  color: white;
}

h1 {
  color: #9ECC8E;
}

input, textarea {
  color: #141413;
}

a {
  color: #9ECC8E;
  font-weight: bold;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  cursor: pointer;
}

a:hover {
  color: #424242;
  text-decoration: none;
  font-weight: bold;
}

a:focus {
  color: #9ECC8E;
  text-decoration: none;
  font-weight: bold;
}

.align-right {
  text-align: right;
}

.error {
  color: #AF3C34;
}

.navbar-default .steam-brand {
  color: #9ECC8E;
}

.navbar-default .steam-brand:hover {
  color: #424242;
}

.navbar-default .steam-brand:focus {
  color: #9ECC8E;
}

.steam-navbar {
  background-color: #141413;
  border: 0;
  border-radius: 0;
}

.steam-navbar .navbar-right li a {
  color: white;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  cursor: pointer;
}

.steam-navbar .navbar-right li a:hover {
  color: #7CA372;
}

.content {
  text-align: center;
}

button {
  color: white;
  background-color: #7CA372;
  border: 0;
  border-radius: 5px;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

button:hover {
  background-color: #9ECC8E;
}

button.submit-button {
  min-width: 100px;
}

.big-button {
  font-size: 14pt;
  color: white;
  background-color: #7CA372;
  padding: 10px;
  border-radius: 5px;
}

a.button {
  text-align: center;
  font-weight: normal;
  display: inline-block;
  padding: 2px;
  color: white;
  background-color: #7CA372;
  border: 0;
  border-radius: 5px;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

a.button:hover {
  background-color: #9ECC8E;
}

.blue-button {
  background-color: #7294A3 !important;
}

.blue-button:hover {
  background-color: #8EBCCC !important;
}

.red-button {
  background-color: #AF3C34 !important;
}

.red-button:hover {
  background-color: #FC574B !important;
}

input.search-box {
  width: 100%;
}

.recommended-friends {
  margin: 0 auto;
  margin-top: 20px;
  text-align: left;
  max-width: 800px;
}

.recommended-friends li {
  padding: 20px;
  background-color: #141413;
}

.recommended-friends .friend-picture img {
  width: 100px;
}

.recommended-friends .friend-picture h4 {
  text-align: center;
}

.recommended-friends .friend-information {
  padding-left: 10px;
}

.recommended-friends .friend-games img {
  max-width: 150px;
}

.game-tag {
  font-size: 10pt;
  background-color: #21211F;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
}

.friend-actions .button {
  width: 100px;
  margin-bottom: 5px;
}

.profile {
  margin: 0 auto;
  padding: 20px;
  max-width: 1100px;
  text-align: left;
}

.profile .profile-basic-information {
  text-align: center;
}

.profile .profile-basic-information .button {
  width: 100%;
  margin-top: 10px;
}

.profile .profile-basic-information img {
  width: 100%;
}

.profile .profile-basic-information h4 {
  color: #9ECC8E;
}

.profile .profile-main {
  padding: 20px;
  padding-top: 0px;
  background-color: #141413;
}

.profile .profile-main h3 {
  color: #727272;
}

.profile .profile-add-post {
  margin-bottom: 20px;
}

.profile .profile-add-post form input {
  width: 100%;
}

.profile .profile-add-post form textarea {
  width: 100%;
  resize: none;
}

.post-list {
  margin: 0 auto;
  margin-top: 20px;
  text-align: left;
  max-width: 800px;
  background-color: #141413;
  padding: 20px;
}

.post {
  text-align: left;
  margin-bottom: 50px;
}

.post:last-child {
  margin-bottom: 0px;
}

.post .post-user {
  text-align: center;
}

.post .post-user img {
  max-width: 100px;
}

.post .post-body h4 {
  margin-top: 0;
}

.post .post-body img {
  max-width: 155px;
}

.post .post-time {
  color: #727272;
}

#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1;
}

#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;

  display: block;

  background: #AF3C34;
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

/* Fancy blur effect */
#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: .45;
  -moz-box-shadow: #29d 1px 0 6px 1px;
  -ms-box-shadow: #29d 1px 0 6px 1px;
  -webkit-box-shadow: #29d 1px 0 6px 1px;
  box-shadow: #29d 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#loading-bar-spinner {
  display: none;
  position: fixed;
  z-index: 10002;
  top: 20px;
  left: 210px;
}

#loading-bar-spinner .spinner-icon {
  width: 14px;
  height: 14px;

  border:  solid 2px transparent;
  border-top-color:  #9ECC8E;
  border-left-color: #9ECC8E;
  border-radius: 50%;

  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation:    loading-bar-spinner 400ms linear infinite;
  -ms-animation:     loading-bar-spinner 400ms linear infinite;
  -o-animation:      loading-bar-spinner 400ms linear infinite;
  animation:         loading-bar-spinner 400ms linear infinite;
}
