<p ng-show="!recommendations || recommendations.length === 0">
  Please wait...
</p>
<ul class="recommended-friends media-list" ng-show="isLoggedIn">
  <li ng-repeat="user in recommendations" class="media">
      <a class="friend-picture media-left" ng-href="#/profile/{{user.id}}">
          <img class="media-object" ng-src="{{getUserDetails(user.id).image}}"/>
          <h4>{{getUserDetails(user.id).name}}</h4>
      </a>
      <div class="friend-information media-body">
          <div class="friend-games">
              <h4>Also plays:</h4>
              <img ng-repeat="game in user.reason | orderBy: '-value' | limitTo: 8" ng-src="http://cdn.akamai.steamstatic.com/steam/apps/{{getGameIdFromIndex(game.index)}}/header.jpg">
          </div>
      </div>
      <div class="friend-actions media-right">
          <a ng-href="steam://friends/add/{{user.id}}" class="button blue-button">Add Friend</a>
          <a ng-href="#/profile/{{user.id}}" class="button">Profile</a>
      </div>
  </li>
</div>
