<ul class="recommended-friends media-list" ng-show="isLoggedIn">
  <li ng-repeat="recommendation in recommendations" class="media">
      <a class="friend-picture media-left">
          <img class="media-object" ng-src="{{recommendation.image}}"/>
          <h4>{{recommendation.name}}</h4>
      </a>
      <div class="friend-information media-body">
          <div class="friend-tags">
              Also likes:<br>
              <span class="game-tag">RPG</span> <span class="game-tag">Simulator</span> <span class="game-tag">Multiplayer</span>
          </div>
          <br>
          <div class="friend-games">
              Also plays:<br>
              <img src="http://cdn.akamai.steamstatic.com/steamcommunity/public/images/apps/745/47ad0815abb1258dd93ce07ac6a908814f043067.jpg">
              <img src="http://cdn.akamai.steamstatic.com/steamcommunity/public/images/apps/745/47ad0815abb1258dd93ce07ac6a908814f043067.jpg">
          </div>
      </div>
      <div class="friend-actions media-right">
          <a class="button blue-button">Add Friend</a>
          <a class="button">Profile</a>
      </div>
  </li>
</div>
