<ul class="post-list media-list" ng-show="isLoggedIn">
  <li ng-repeat="post in posts" class="post media">
      <a class="post-user media-left" ng-href="#/profile/{{post.poster}}">
          <img class="media-object" ng-src="{{post.user.image}}"/>
          <h4>{{post.user.name}}</h4>
      </a>
      <div class="post-body media-body">
          <div class="pull-right post-time" am-time-ago="post.createdAt"></div>
          <h4>User1 wants to play {{post.game.name}}</h4>
          <img ng-src="http://cdn.akamai.steamstatic.com/steam/apps/{{post.relatedGame}}/header.jpg">
          <br><br>
          <p>{{post.content}}</p>
      </div>
  </li>
</ul>
