<div class="profile" ng-show="isLoggedIn">
  <div class="row" ng-show="hasError">
    {{errorMessage}}
  </div>
  <div class="row" ng-show="!hasError">
    <div class="col-sm-3 profile-basic-information">
      <img ng-src="{{user.image}}"></img>
      <h4>{{user.name}}</h4>
      <a class="button blue-button">Add On Steam</a>
      <a class="button" target="_blank" ng-href="https://steamcommunity.com/profiles/{{user.id}}">View Steam Profile</a>
    </div>
    <div class="col-sm-9 profile-main">
      <div class="profile-add-post" ng-show="isOwnProfile">
        <form ng-submit="addPost()">
          <h3>Add New Post</h3>
          <label for="game-list">What game are you playing?</label>
          <input type="text" placeholder="Example: Dota" list="game-list" ng-model="newPost.gameName" ng-required="true"></input>
          <datalist id="game-list">
            <option ng-repeat="game in user.games | orderBy:'name'" value="{{game.name}}"></option>
          </datalist>
          <br><br>
          <label>Say something! (If you want)</label>
          <textarea class="msd-elastic" ng-model="newPost.content" placeholder="Let's play this game together folks!"></textarea>
          <br><br>
          <div class="align-right">
            <p class="error" ng-show="newPost.error">Error: {{newPost.error}}</p>
            <button class="red-button submit-button">Post</button>
          </div>
        </form>
      </div>
      <div class="profile-main-information">
        <h3>Recently Played</h3>
        <div class="profile-recently-played">
          <a ng-repeat="game in user.games | orderBy: ['-playtime.recent', '-playtime.total'] | limitTo: 4" target="_blank" ng-href="http://store.steampowered.com/app/{{game.id}}">
            <img ng-src="http://cdn.akamai.steamstatic.com/steam/apps/{{game.id}}/header.jpg">
          </a>
        </div>
        <h3>Posts</h3>
        <p ng-show="user.posts.length === 0">No Posts.</p>
        <ul id="profile-post-list" class="profile-posts media-list">
          <li ng-repeat="post in user.posts" class="post media">
            <span class="post-user media-left">
              <img class="media-object" ng-src="{{user.image}}"/>
              <h4>{{user.name}}</h4>
            </span>
            <div class="post-body media-body">
              <div class="pull-right post-time" am-time-ago="post.createdAt"></div>
              <h4>{{user.name}} is playing {{post.game.name}}</h4>
              <a target="_blank" ng-href="http://store.steampowered.com/app/{{post.relatedGame}}/">
                <img ng-src="http://cdn.akamai.steamstatic.com/steam/apps/{{post.relatedGame}}/header.jpg">
              </a>
              <br><br>
              <p>{{post.content}}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
