<div class="profile">
    <div class="row">
        <div class="col-sm-3 profile-basic-information">
            <img src="http://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/71/71dfa92a550af33b68e4cd4a8672489b30183c6a_full.jpg"></img>
            <h3>User 1</h3>
            <button class="blue-button">Add On Steam</button>
            <button>View Steam Profile</button>
        </div>
        <div class="col-sm-9 profile-main">
            <h3>About</h3>
            <p>No description available.</p>
            <h3>Recently Played</h3>
            <img src="http://cdn.akamai.steamstatic.com/steamcommunity/public/images/apps/745/47ad0815abb1258dd93ce07ac6a908814f043067.jpg">
            <img src="http://cdn.akamai.steamstatic.com/steamcommunity/public/images/apps/745/47ad0815abb1258dd93ce07ac6a908814f043067.jpg">
            <img src="http://cdn.akamai.steamstatic.com/steamcommunity/public/images/apps/745/47ad0815abb1258dd93ce07ac6a908814f043067.jpg">
            <img src="http://cdn.akamai.steamstatic.com/steamcommunity/public/images/apps/745/47ad0815abb1258dd93ce07ac6a908814f043067.jpg">
            <img src="http://cdn.akamai.steamstatic.com/steamcommunity/public/images/apps/745/47ad0815abb1258dd93ce07ac6a908814f043067.jpg">
            <img src="http://cdn.akamai.steamstatic.com/steamcommunity/public/images/apps/745/47ad0815abb1258dd93ce07ac6a908814f043067.jpg">
            <h3>Posts</h3>
            <div class="profile-posts">
                <div class="post media">
                    <a class="post-user media-left">
                        <img class="media-object" src="http://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/71/71dfa92a550af33b68e4cd4a8672489b30183c6a_full.jpg"/>
                        <h4>User 1</h4>
                    </a>
                    <div class="post-body media-body">
                        <h4>User1 wants to play</h4>
                        <img src="http://cdn.akamai.steamstatic.com/steamcommunity/public/images/apps/745/47ad0815abb1258dd93ce07ac6a908814f043067.jpg">
                        <br><br>
                        <p>Hey guys! Looking for someone to pwn CS with me. Let's GO!!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
